doctype html
html
  head
    meta(charset='utf-8')
  body
    h1.
      Проверьте, насколько быстро Вы можете печатать
    p.
      Напечатайте слово ниже в поле ввода за #[span(id='seconds') 5] секунд
    h2(id='current-word').
      Hello
    input(
      type='text'
      id='word-input'
      placeholder='Начните печатать...'
      autofocus
    )
    p(id='message')
    h3.
      Осталось #[span(id='time') 0] секунд
    h3.
      Счёт #[span(id='score') 0]
    h4.
      Небольшая инструкция
    p.
      Напечатайте каждое слово за указанное количество секунд.
      Новая игра начнётся автоматически — просто напечатайте текущее слово. Текущий счёт при этом будет сброшен.
    script(src='index.js')